@import '@/assets/mixins';

.cg-drivers__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cg-drivers__item {
  margin-top: 8px;

  @include media-desktop {
    margin-top: 16px;
  }
}

.cg-drivers__link {
  color: unset;
  text-decoration: none;
}
