@import '@/assets/mixins';

.cg-select {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  @include desktop-hover {
    border-color: var(--border-color-interact);
    outline: 2px solid var(--border-color-interact);
    outline-offset: -2px;
  }

  &:focus-within {
    border-color: var(--border-color-interact);
    outline: 2px solid var(--border-color-interact);
    outline-offset: -2px;
  }
}

.cg-select__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  display: block;
  padding: 5px 12px;
  font-size: 12px;
  line-height: 20px;
  min-height: 30px;
  width: 100%;
  font-family: inherit;
  cursor: inherit;

  &::placeholder,
  &::-webkit-input-placeholder {
    opacity: 0;
    display: none;
  }
}

.cg-select__placeholder {
  transition: top 0.1s ease-in-out;
  position: absolute;
  left: 16px;
  top: 5px;
  font-size: 12px;
  line-height: 20px;
  pointer-events: none;
}

.cg-select:focus-within,
.cg-select.cg-select--filled-in {
  .cg-select__placeholder {
    top: 0;
    left: 9px;
    transform: translateY(-50%);
    font-size: 10px;
    line-height: 14px;
    background: white;
    padding: 0 3px;
  }
}

option {
  white-space: normal;
}
