@font-face {
  font-weight: 700;
  font-family: 'Lato';
  font-style: normal;
  src: url('./fonts/Lato-Bold.ttf') format('tff');
}

@font-face {
  font-weight: 400;
  font-family: 'Lato';
  font-style: normal;
  src: url('./fonts/Lato-Regular.ttf') format('tff');
}

@font-face {
  font-weight: 300;
  font-family: 'Lato';
  font-style: normal;
  src: url('./fonts/Lato-Light.ttf') format('tff');
}
