@import '@/assets/mixins';

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;

  @include media-tablet {
    min-width: 768px;
  }

  @include media-desktop {
    min-width: 1160px;
  }
}
