:root {
  --font-size: 16px;
  --font-size-small: 12px;

  --line-height-main: 20px;
  --line-height-small: 14px;

  --font-color: black;
  --font-color-grey: grey;
  --font-color-link: #1059c8;
  --font-color-link-interact: #1f6de3;

  --border-radius: 4px;
  --border-color: #dce2e7;
  --border-color-interact: #d2d7da;
  --border-color-error: #d6181e;

  --gap: 16px;
  --gap-tablet: 56px;

  --color-primary: #1059c8;
  --color-primary-interact: #1f6de3;
}
