:root {
  --font-size: 16px;
  --font-size-small: 12px;

  --line-height-main: 20px;
  --line-height-small: 14px;

  --font-color: black;
  --font-color-gray: grey;
  --font-color-link: #1059c8;
  --font-color-link-interact: #1f6de3;

  --border-radius: 4px;

  --gap: 16px;
  --gap-tablet: 56px;
}
